<li>
  <span class="RecipeCategory"><%= link_to(recipe_category.name, recipe_category) %></span>
  (<%= recipe_category.recipes.count %>)
    <% unless params[:admin].nil? %>
      | <%= link_to('delete', recipe_category, :method => :delete, :confirm => 'Are you sure? This will delete ALL recipes in this category.', :title => "Delete #{recipe_category.name}") %>
    <% end %>
</li>