<h1>Recipe Categories</h1>
<div class="Actions">
  <%= link_to('add', new_recipe_category_path, :class => 'LinkButton Round') %>
</div>
<ul class="RecipeCategoryList">
  <%= render(@categories) %>
</ul>




