<li class="Ingredient">
  <span class="Amount"><%= number_to_human(ingredient.amount) %></span>
  <span class="Unit"><%= ingredient.unit %></span>
  <span class="Name"><%= ingredient.name %></span>
</li>